<div class="content-container">
  <div *ngIf="isLoading" class="mat-spinner-wrapper">
    <mat-spinner></mat-spinner>
  </div>

  <div class="button-container">
    <button mat-stroked-button color="primary" class="create-button" (click)="creatingNewTask = !creatingNewTask">
      Would you like to create new task?
    </button>
  </div>

  <app-create-task
    *ngIf="creatingNewTask"
    (onCancelCreating)="creatingNewTask=false"
    (onTaskCreated)="addNewTask($event)"
  >

  </app-create-task>

  <div *ngFor="let task of tasks">
    <app-task
      [task]="task"
      (onTaskDelete)="deleteTask($event)"
    ></app-task>
  </div>
</div>
