<h1 mat-dialog-title style="text-align: center;">Are you sure you want to delete this component? </h1>
<div mat-dialog-actions>
  <button mat-stroked-button (click)="onBackClick()">Back</button>
  <button mat-stroked-button color="warn" [mat-dialog-close]="true">Yes</button>
</div>
