<mat-card class="mat-card-element">

  <mat-card-header>
    <mat-card-title>Team #{{team.id}} | {{team.name}}</mat-card-title>
  </mat-card-header>

  <app-update-team class="create-form"
                      *ngIf="isUpdating; else content"
                      [team]="team"
                      (onCancelUpdate)="isUpdating=false"
                      (onTeamUpdated)="updateTeam($event)">
  </app-update-team>

  <ng-template #content>
    <mat-card-content>
      <div class="property">
        <div class="name">Created at: </div>
        <div class="value">{{team.createdAt | ukrainianDate }}</div>
      </div>
    </mat-card-content>

    <mat-card-actions align="end">
      <button mat-icon-button color="primary" (click)="isUpdating = true">
        <mat-icon>edit</mat-icon>
      </button>
      <button mat-icon-button color="warn" (click)="deleteTeam()">
        <mat-icon>delete</mat-icon>
      </button>
    </mat-card-actions>

  </ng-template>
</mat-card>

