<div class="content-container">

  <div class="button-container">
    <button mat-stroked-button color="primary" class="create-button" (click)="creatingNewTeam = !creatingNewTeam">
      Would you like to create new team?
    </button>
  </div>

  <app-create-team
    *ngIf="creatingNewTeam"
    (onCancelCreating)="creatingNewTeam=false"
    (onTeamCreated)="addNewTeam($event)">
  </app-create-team>

  <div *ngIf="isLoading" class="mat-spinner-wrapper">
    <mat-spinner></mat-spinner>
  </div>

  <div *ngFor="let team of teams">
    <app-team
      [team]="team"
      (onTeamDelete)="deleteTeam($event)">
    </app-team>
  </div>

</div>

