<div class="content-container">

  <div class="button-container">
    <button mat-stroked-button color="primary" class="create-button" (click)="creatingNewProject = !creatingNewProject">
      Would you like to create new project?
    </button>
  </div>

  <app-create-project
    *ngIf="creatingNewProject"
    (onCancelCreating)="creatingNewProject=false"
    (onProjectCreated)="addNewProject($event)">
  </app-create-project>

  <div *ngIf="isLoading" class="mat-spinner-wrapper">
    <mat-spinner></mat-spinner>
  </div>

  <div *ngFor="let project of projects">
    <app-project
      [project]="project"
      (onProjectDelete)="deleteProject($event)">
    </app-project>
  </div>

</div>
